.c-draggable {
  background-color: #E4E6E8;
  background-image: url(./drag-icon.svg);
  background-position: left 8px center;
  background-repeat: no-repeat;
  border-radius: 4px;
  color: #5E6266;
  cursor: grab;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 8px;
  padding: 11px 8px 11px 28px;
}
