.c-lane {
  width: 1320px;
  margin-bottom: 16px;
}



.c-lane__header {
  background-color: #EF6031;
  padding: 8px;
  border-radius: 3px 3px 0 0;
  color: #fff;
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.c-lane__header > .i-arrow {
  height: 6px;
  width: 10px;
}

.is-collapsed .i-arrow {
  transform: rotate(-90deg)
}

.is-collapsed .c-lane__header {
  border-radius: 3px;
}

.c-lane__header > span {
  margin-left: 8px;
}

.c-lane__body {
  background: repeating-linear-gradient(90deg, #E0E4E7 0,  #E0E4E7 1px, #FFF 1px, #FFF 100px);
  background-position: 18px;
  min-height: 54px;
  border: 1px solid #C1C4C7;
  border-top: 0;
  border-radius: 0 0 3px 3px;
  position: relative;
}

.is-collapsed > .c-lane__body {
  display: none;
}

.c-lane__body--row2 {
  min-height: 100px;
}
