.c-lane-target {
  background: rgba(255,255,255,0.80);
  border: 1px dashed #C1C4C7;
  height: 93px;
  font-family: 'Gilroy', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #2D3439;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}
