.c-header {
  background-color: #FFF;
  border-bottom: 1px solid #C1C4C7;
  display: flex;
  height: 48px;
}

.c-header__brand {
  align-items: center;
  border-right: 1px solid #C1C4C7;
  display: flex;
  flex-basis: 152px;
  flex-shrink: 0;
  justify-content: center;
  width: 152px;
}

.c-header__logo {
  max-width: 100%;
  width: 120px;
  transform: translate3d(0,0,0);
}

.c-header__foo {
  align-items: center;
  color: #2D3439;
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  line-height: 22px;
  padding: 0 9px 0 16px;
  width: 100%;
}
