body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy'), 
       url(./fonts/Gilroy-Medium.otf)
       url(./fonts/Gilroy-Medium.woff2) format('woff2'),
       url(./fonts/Gilroy-Medium.woff) format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy'), 
       url(./fonts/Gilroy-Bold.otf),
       url(./fonts/Gilroy-Bold.woff2) format('woff2'),
       url(./fonts/Gilroy-Bold.woff) format('woff');
  font-weight: bold;
  font-style: normal;

}
