.c-button {
  background-color: #1973BA;
  min-width: 122px;
  padding: 8px;
  font-family: Gilroy;
  font-size: 16px;
  color: #FFFFFF;
  text-align: center;
  line-height: 22px;
  border: 0;
  display: block;
  border-radius: 4px;
  margin-top: 22px;
}
